<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OC024Ch02Q02/src/com/mahmud/OC024Ch02Q02Pkg/Bottom2.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mahmud.OC024Ch02Q02Pkg.Bottom2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OC024Ch02Q02"/>
</launchConfiguration>
