<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OC037Ch06Q15/src/com/mahmud/OC037Ch06Q15Pkg/Frisbee.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mahmud.OC037Ch06Q15Pkg.Frisbee"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OC037Ch06Q15"/>
</launchConfiguration>
