<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BS19CallMethodApp/src/com/mahmud/BS19CallMethodAppPackage/MainProgram.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mahmud.BS19CallMethodAppPackage.MainProgram"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BS19CallMethodApp"/>
</launchConfiguration>
