<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GN01GenericsApp/src/com/mahmud/GN01GenericsAppPackage/MainProgram.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mahmud.GN01GenericsAppPackage.MainProgram"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GN01GenericsApp"/>
</launchConfiguration>
