<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/En02EnumPlanetApp/src/com/mahmud/En02EnumPlanetAppPackage/MainProgram.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mahmud.En02EnumPlanetAppPackage.MainProgram"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="En02EnumPlanetApp"/>
</launchConfiguration>
