<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/OC022Ch01Q10/src/com/mahmud/OC022Ch01Q10Pkg/Tablet.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mahmud.OC022Ch01Q10Pkg.Tablet"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="OC022Ch01Q10"/>
</launchConfiguration>
